<!-- map.html include -->

<div class="alert">
    <p>
        <strong>NOTE:</strong> This project is a work in progress. It is not yet fully functional. Data will be incorrect. Available date is not currently working for most properties.
    </p>
</div>

<div id="map">

</div>

<br />

<h2>Filters <input type="checkbox" id="bypass" name="bypass" onchange="redrawMap();"></h2> 

<!-- <label for="min-beds">Minimum Beds: </label>
<input type="number" id="min-beds" name="min-beds" value="0" min="0" max="100" onchange="redrawMap();">

<label for="max-beds">Maximum Beds: </label>
<input type="number" id="max-beds" name="max-beds" value="100" min="0" max="100" onchange="redrawMap();"> -->
<ul>
    <li>
        
            <label for="beds">
                Bedrooms: 
            </label>
            <input type="number" id="beds" name="beds" min="0" max="15" value="0" onchange="redrawMap();">
    </li>
    <li>
        
            <label for="status">Status: </label>
            <select id="status" name="status" onchange="redrawMap();">
                <option value="all">All</option>
                <option value="let">Let</option>
                <option value="not let" selected>Not Let</option>
            </select>
    </li>
    <li>
        
            <label for="ensuite">Min bathrooms: </label>
            <input type="number" id="baths" name="baths" min="0" max="15" value="0" onchange="redrawMap();">
        
    </li>
    <li>
        
            <label for="ensuite">Ensuite: </label>
            <input type="checkbox" id="ensuite" name="ensuite" onchange="redrawMap();">
        
    </li>
    <li>
        
            <label for="max-price">Max Price: £</label>
            <input type="number" id="max-price" name="max-price" value="150" min="0" max="300" step="1" pattern="\d*" onchange="redrawMap();">
            <input type="checkbox" id="price-enabled" name="price-enabled" onchange="redrawMap();">

    </li>
    <li>
        
            <label for="start-date">Available from: </label>
            <input type="date" id="start-date" name="start-date" value="2023-01-01" onchange="redrawMap();">
            <input type="checkbox" id="start-date-enabled" name="start-date-enabled" onchange="redrawMap();">
        
    </li>
    <li>
        <label for="agents">Agents: </label>
        <select name="agents" id="agents" multiple>

        </select>
    </li>
    
    
</ul>

<button onclick="redrawMap();">Update</button>
<br />

<span id="counter"></span>
<span hidden id="selected-counter"></span>

<style>
    #map {
        height: 70vh;
        width: 100%;
    }
</style>

<script>

    const easyLettingsMarker = L.icon({
        iconUrl: '/SellyHouses/assets/images/easy-lettings.png',
        iconSize: [32, 32],
        iconAnchor: [16, 32],
        popupAnchor: [0, -32]
    });

    const properties = {{ site.data.combined | jsonify }};

    FILTER_STATUS = "all";
    FILTER_MIN_BED = 0;
    FILTER_MAX_BED = 100;
    FILTER_ENSUITE = false;

    FILTER_MIN_PRICE = 0;
    FILTER_MAX_PRICE = 1000000;

    FILTER_START_DATE = new Date().getFullYear() - 1;
    FILTER_ENABLED = false;
    FILTER_START_DATE_ENABLED = false;

    FILTER_SOURCES = [];

    sources = [];

    document.getElementById("counter").innerHTML = `There are ${properties.length} properties in the database.`;

    var map = L.map('map').setView([52.44399095286495, -1.932108295065283], 15);

    map.addControl(new L.Control.Fullscreen());

    L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: '© OpenStreetMap'
    }).addTo(map);

    var allProperties = L.layerGroup().addTo(map);

    L.Control.Filters = L.Control.extend({
        onAdd: function(map) {
            var div = L.DomUtil.create('div', 'leaflet-bar leaflet-control leaflet-control-zoom');
            div.id = "filters";

            var a = L.DomUtil.create('a', 'leaflet-control-zoom-in');
            a.href=`javascript:document.getElementById("bypass").checked = !document.getElementById("bypass").checked;redrawMap();`
            a.title = "Filters";
            a.innerHTML = `<i class="fa-solid fa-filter"></i>`;
            a.onclick = function() {
                
            }
            a.addEventListener("click", function(e) {
                e.stopPropagation();
            });
            div.appendChild(a);
            return div;
        },

        onRemove: function(map) {
            // Nothing to do here
        }
    });

    L.control.filter = function(opts) {
        return new L.Control.Filters(opts);
    }

    L.control.filter({
        position: 'topright'
    }).addTo(map);

    function drawMap() {
        properties.forEach(element => {
            if (element.lat && element.lon) {
                if (!sources.includes(element.source)) {
                    sources.push(element.source);
                }

                if (FILTER_SOURCES.length > 0) {
                    if (!FILTER_SOURCES.includes(element.source)) {
                        console.log(`${element.title} failed filter: property is from ${element.source} but filter is ${FILTER_SOURCES}`);
                        return;
                    }
                }

                if (typeof element.price == "string") {
                    if (element.price.includes("£")) {
                        element.price = element.price.replace("£", "");
                    }

                    if (element.price.includes("pppw") || element.price.includes("/Week") || element.price.includes("pw") || element.price.includes("per week")) {
                        element.price = element.price.replace("pppw", "");
                        element.price = element.price.replace("/Week", "");
                        element.price = element.price.replace("pw", "");
                        element.price = element.price.replace("per week", "");
                        element.price = parseFloat(element.price);
                    }

                    else if (element.price.includes("pcm") || element.price.includes("/Month")) {
                        element.price = element.price.replace("pcm", "");
                        element.price = element.price.replace("/Month", "");
                        element.price = parseFloat(element.price) / 4.34524;
                    }
                }

                var marker = L.marker([element.lat, element.lon]);
                marker.bindPopup(`<a href="${element.url}">${element.title}</a>
                                <br />
                                £${element.price} pw<br />
                                ${element.beds} bedrooms<br />
                                ${element.baths} bathrooms<br />
                                ${element.baths == element.beds ? "Ensuites" : ""}
                                Available: ${new Date(element.available_date).toLocaleString().slice(0, 10)}`);

                if (element.source == "Easy Lettings") {
                    marker.setIcon(easyLettingsMarker);
                }
                
                if (FILTER_ENABLED) {
                    if (FILTER_STATUS == "not let") {
                        if (element.status == "Let") {
                            console.log(`${element.title} failed filter: property is let but filter is not let`);
                            return;
                        }
                    } else if (FILTER_STATUS == "let") {
                        if (element.status != "Let") {
                            console.log(`${element.title} failed filter: property is not let but filter is let`);
                            return;
                        }
                    }

                    if (FILTER_MIN_BED != 0){
                        if (element.beds < FILTER_MIN_BED || element.beds > FILTER_MAX_BED) {
                            console.log(`${element.title} failed filter: property has ${element.beds} beds but filter is ${FILTER_MIN_BED} to ${FILTER_MAX_BED}`);
                            return;
                        }
                    }

                    if (FILTER_MIN_BATH != 0){
                        if (element.baths < FILTER_MIN_BATH) {
                            console.log(`${element.title} failed filter: property has ${element.baths} baths but filter is ${FILTER_MIN_BATH} to ${FILTER_MAX_BATH}`);
                            return;
                        }
                    }

                    if (FILTER_ENSUITE) {
                        if (element.beds != element.baths) {
                            console.log(`${element.title} failed filter: property has ${element.beds} beds and ${element.baths} baths but filter is ensuite only`);
                            return;
                        }
                    }
                    
                    if (FILTER_PRICE_ENABLED) {
                        if (element.price < FILTER_MIN_PRICE || element.price > FILTER_MAX_PRICE) {
                            console.log(`${element.title} failed filter: property has price £${element.price} but filter is £${FILTER_MIN_PRICE} to £${FILTER_MAX_PRICE}`);
                            return;
                        } 
                    }

                    if (FILTER_START_DATE_ENABLED) {
                        if (element['available_date'] != "Unknown"){
                            console.log(`${element.title} failed filter: property has no available date but filter is ${FILTER_START_DATE}`);
                            return;
                        }
                        if (new Date (element['available_date']) > FILTER_START_DATE) {
                            console.log(`${element.title} failed filter: property has available date ${element['available_date']} but filter is ${FILTER_START_DATE}`);
                            return;
                        }
                    }
                }

                marker.addTo(allProperties);
                
            } else {
                console.log(`${element.title} failed filter: property has no lat or lon`);
            }
        });
    }

    function updateFilters() {
        FILTER_STATUS = document.getElementById("status").value;
        FILTER_MIN_BED = document.getElementById("beds").value;
        FILTER_MAX_BED = document.getElementById("beds").value;
        FILTER_MIN_BATH = document.getElementById("baths").value;
        FILTER_ENSUITE = document.getElementById("ensuite").checked;

        if (document.getElementById("start-date") == "") {
            FILTER_START_DATE = new Date().getFullYear() - 1;
        } else {
            FILTER_START_DATE = document.getElementById("start-date").value;
        }

        if (document.getElementById("beds").value == 0) {
            FILTER_MAX_BED = 100;
        }

        FILTER_MAX_PRICE = document.getElementById("max-price").value;

        FILTER_ENABLED = document.getElementById("bypass").checked;
        FILTER_START_DATE_ENABLED = document.getElementById("start-date-enabled").checked;
        FILTER_PRICE_ENABLED = document.getElementById("price-enabled").checked;

        document.getElementById("agents").childNodes.forEach(element => {
            if (element.selected) {
                FILTER_SOURCES.push(element.value);
            } else {
                FILTER_SOURCES = FILTER_SOURCES.filter(e => e !== element.value);
            }
        });


        // FILTER_MIN_BED = document.getElementById("min-beds").value;
        // FILTER_MAX_BED = document.getElementById("max-beds").value;
    }

    function redrawMap() {

        updateFilters();
        allProperties.clearLayers();
        drawMap();

        document.getElementById("selected-counter").innerHTML = `There are ${allProperties.getLayers().length} properties matching your filters.`;
        document.getElementById("selected-counter").hidden = false;

        document.getElementById("agents").innerHTML = "";

        sources.forEach(element => {
            document.getElementById("agents").innerHTML += `<option value="${element}" ${FILTER_SOURCES.includes(element) ? "selected" : ""} >${element}</option>`;
        });
    }

    redrawMap();
</script>